:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
/* SCROLL SNAP */
.servicios,.contenedor-header, .formulario,.footer{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);/*color difuminado*/
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    margin: 0;
    padding: 0;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 10px 30px;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .9rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
@media(min-width: 768px) {
    .w-100{
        width: auto;
        margin-top: 7rem;
    }
 }
/* Utilidades */
.w-100{
    width: 100%;
    
}
.flex{
    display: flex;
    
}
.alinear-derecha{
    justify-content: center;
}
.sombra{
    /* cssmatic.com */
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: var(--blanco);
    padding: 2rem;
}
/* Topografia */
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
main section p{
    color: black;
}
.titulo{
    text-align: center;

}
.titulo span{
    font-size: 2rem;
    color: blue;
}


.contenedor-header{
    background: #1a1b22;
    /* ***********position fixed : queda fijo*********** */
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-bg{
    background-color: var(--secundario);
    /* max-width: 1100px; */
    margin: auto;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.contenedor-header nav{
    padding: 0;
    display: contents;
    justify-content: center;

}
.contenedor-header nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.contenedor-header nav ul li a{
    color: white;
    text-align: none;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
 .contenedor-header nav a{
    color: var(--blanco);
    text-decoration: none;
    text-align: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 18px 34px;
}
/* menu blocke */
.nav-responsive{
    background-color: var(--primario);
    color: var(--oscuro);
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    display: none;
}
.contenedor-header nav a:hover{
   color: var(--primario);
}
/* Main 1 */
.hero{
    background-image: url(../img/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color:rgba(0,0,0,.6);
    /* background-color: rgb(0,0,0/ 90%); */
    width: 100%;
    height: 100%;

    /* Centrar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media(min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* grid: 200px 800px / 300px 300px; */
        column-gap: 1rem;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Formulario */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/*Utilizar el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;

}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media(min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 /3;

    }
    .input-text{
        margin-bottom: 1rem;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
color: var(--blanco);
font-weight: bold;
margin-bottom: .5rem;
display: block;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* Main 1 */
/* footer */
.footer{
    text-align: center;
}
.footer p,a{
    color: var(--oscuro);
    font-weight: bold;
    text-decoration: none;
}
/* MEDIAQUERIS */
@media screen and (max-width:900px){
    nav{
        display:none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (min-width: 768px) {
    .boton{
        width: auto;
    }
 }
